.specimens {
    .specimens--list {
        background-color: $brand-dark;
        color: #fff;
        min-height: 1000px;
        padding-top: 30px;
        transition: all 0.4s cubic-bezier(.45, .45, 0, 1);

        &.has-details {
            background-color: $brand-primary-light;
            color: $text-color;
        }
    }

    .container {
        opacity: 0;
        transition: all 0.4s cubic-bezier(.45, .45, 0, 1);

        &.is-loaded {
            opacity: 1;
        }

        &.is-unloaded {
            display: none;
        }
    }

    &--loader-dots {
        height: 100px;
    }

    &--loader-dot {
        background-color: transparent;
        border-radius: 50%;
        height: 1px;
        margin: 8px auto;
        transition: all 0.2s cubic-bezier(.45, .45, 0, 1);
        width: 1px;

        &.is-loaded {
            background-color: #fff;
            height: 3px;
            width: 3px;
        }

        &.is-active {
            background-color: transparent;
            border: 2px solid $brand-primary;
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }
    }

    &--header {
        font: {
            size: 20px;
            weight: 700;
        }
        margin-bottom: 80px;
        text: {
            align: center;
            transform: uppercase;
        }
    }

    &--header-count {
        color: $brand-primary;
    }

    &--detail {
        color: $text-color;
    }

    &--detail-back {
        color: $brand-primary;
        cursor: pointer;
        margin-top: 30px;

        .iconic {
            font-size: 11px;
            margin-right: 4px;
        }

        &:hover {
            color: $brand-dark;
        }
    }

    &--detail-summary {
        border-bottom: 3px solid $brand-primary;
        height: 190px;
        margin-top: 50px;

        // img {
        //     float: left;
        //     width: 150px;
        // }
    }

    &--detail-thumbnail {
        width: 125px;
        height: 125px;
    }

    &--detail-name {
        float: left;
        margin-left: 35px;
    }

    &--detail-tag {
        background-color: #666;
        color: #fff;
        display: inline-block;
        margin-bottom: 8px;
        padding: 7px 15px;
    }

    &--detail-name-header {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &--detail-name-subheader {
        color: #888;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    &--detail-download {
        // position: relative;

        .btn.btn-primary {
            // position: absolute;
            // bottom: 0;
        }
    }
}

.metadata {
    border-bottom: 3px solid $brand-primary;
    // height: 190px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.metadata__list {
    li {
        list-style: none;
        margin-bottom: 5px;
    }
}

.metadata__item {
    margin-left: 29px;
    margin-top: 5px;
}

.metadata__item-icon {

    .iconic {
        margin-right: 10px;
    }
}

.metadata__property {
    width: 175px;
    display: inline-block;
}

.metadata__value {
    display: inline-block;
}


.figure {
    border-bottom: 3px solid $brand-primary;
    margin-top: 50px;
    padding-bottom: 50px;

    &:last-child {
        border-bottom: 0;
    }
}

.figure__header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.figure__listing-item {
    border-top: 1px solid #ccc;
    padding: 15px;
    cursor: pointer;

    &:last-child {
        border-bottom: 1px solid #ccc;
    }

    &:hover {
        font-weight: bold;
    }

    &--active {
        color: $brand-primary;
        font-weight: bold;
    }
}

// scrubber styles
.spriteslider {
  margin: 20px auto;
  padding: 60px;
  width: 128px;
  background: #FCFEFC;
  border-radius: 5px;
}
#spritetarget {
  width: 640px;
  height: 480px;
  background-image: image-url('sprite_sheet.png');
  background-repeat: repeat-x;
}
