!!!
%html{ 'xmlns:ng' => 'http://angularjs.org' }
    %head
        %meta{ charset: 'utf-8' }
        %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
        %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

        %base{ href: '/' }

        %title Boneyard

        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'application'

        = csrf_meta_tags

        :javascript
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45997711-9', 'auto');
            ga('send', 'pageview');

    %body{ ng: { app: 'boneyard' } }
        %svg{xmlns:"http://www.w3.org/2000/svg", width:"287.8", height:"42.1", viewBox:"0 0 287.8 42.1"}
            %path{d:"M59.7 7.9c0-.4.3-.8.8-.8h9c4.8 0 8.3 3.2 8.3 7.4 0 3.1-2.3 5.3-4.2 6.4 2.1.9 5 2.8 5 6.5 0 4.5-3.7 7.7-8.7 7.7h-9.4c-.4 0-.8-.4-.8-.8V7.9zm10.1 23.6c2.4 0 4.3-1.9 4.3-4.4 0-2.4-2.3-4.2-4.9-4.2h-5.5v8.6h6.1zm-.7-12.2c2.6 0 4.1-1.9 4.1-4.3s-1.6-4.1-4.1-4.1h-5.4v8.4h5.4zM99.3 6.8c8 0 14.4 6.4 14.4 14.4s-6.4 14.4-14.4 14.4-14.4-6.4-14.4-14.4S91.3 6.8 99.3 6.8zm0 24.8c5.7 0 10.4-4.6 10.4-10.4 0-5.7-4.7-10.4-10.4-10.4s-10.4 4.8-10.4 10.4c0 5.7 4.7 10.4 10.4 10.4zM121.8 7.5c0-.4.4-.7.8-.7h1L141 26.9v-19c0-.4.3-.8.8-.8h2.6c.4 0 .8.4.8.8v26.9c0 .4-.4.7-.8.7h-1L126 14.9v19.5c0 .4-.3.8-.8.8h-2.5c-.4 0-.8-.4-.8-.8V7.5zM156 7.9c0-.4.3-.8.8-.8h16c.4 0 .8.4.8.8v2.2c0 .4-.3.8-.8.8h-12.6v8.2h10.7c.4 0 .8.4.8.8v2.2c0 .4-.4.8-.8.8h-10.7v8.6h12.6c.4 0 .8.4.8.8v2.2c0 .4-.3.8-.8.8h-16c-.4 0-.8-.4-.8-.8V7.9zM188.2 21.7l-9.4-13.4c-.3-.5 0-1.2.6-1.2h3c.3 0 .5.2.6.4l7.2 10.2 7.2-10.2c.1-.2.4-.4.6-.4h3c.6 0 1 .6.6 1.2l-9.5 13.3v12.8c0 .4-.4.8-.8.8H189c-.4 0-.8-.4-.8-.8V21.7zM202.3 34.1l12.3-26.9c.1-.2.5-.4.7-.4h.4c.2 0 .6.2.7.4l12.2 26.9c.2.5-.1 1-.7 1h-2.5c-.5 0-.8-.2-.9-.6L222 29h-13.1c-.8 1.8-1.6 3.6-2.4 5.5-.1.3-.4.6-.9.6h-2.5c-.8.1-1.1-.5-.8-1zm18.1-8.5l-4.9-11h-.2l-4.9 11h10zM234.9 7.9c0-.4.3-.8.8-.8h10.9c4.8 0 8.7 3.8 8.7 8.6 0 3.7-2.4 6.7-5.9 8.1l5.5 10.2c.3.5 0 1.2-.7 1.2H251c-.3 0-.6-.2-.6-.4L245 24.2h-6v10.2c0 .4-.4.8-.8.8h-2.6c-.4 0-.8-.4-.8-.8V7.9zm11.3 12.9c2.6 0 4.9-2.2 4.9-5 0-2.6-2.3-4.8-4.9-4.8h-7.1v9.7h7.1zM263.9 7.9c0-.4.3-.8.7-.8h9.2c7.7 0 14 6.3 14 14 0 7.8-6.3 14-14 14h-9.2c-.4 0-.7-.4-.7-.8V7.9zm9.3 23.5c5.9 0 10.2-4.3 10.2-10.2 0-5.9-4.3-10.2-10.2-10.2H268v20.4h5.2zM35.5 21.1c0 2.9-2.4 5.3-5.3 5.3s-5.3-2.4-5.3-5.3 2.4-5.3 5.3-5.3c3 0 5.3 2.4 5.3 5.3zm-23.7-5.3c-2.9 0-5.3 2.4-5.3 5.3s2.4 5.3 5.3 5.3 5.3-2.4 5.3-5.3-2.3-5.3-5.3-5.3zm9.7 8.7c-.3-.3-.7-.3-.9 0l-2 2c-.3.3-.3.7 0 .9.3.3.7.3.9 0l1.5-1.5 1.5 1.5c.1.1.3.2.5.2s.3-.1.5-.2c.3-.3.3-.7 0-.9l-2-2zm20.6-3.4c0 4.3-1.3 8.5-3.8 12-.5.7-1.3 1.1-2.2 1.1h-.7c-1.4 2.1-3.2 4-5.4 5.3-2.7 1.7-5.8 2.6-9.1 2.6s-6.3-.9-9.1-2.6c-2.2-1.4-4-3.2-5.4-5.3h-.5c-.9 0-1.7-.4-2.2-1.1-2.4-3.5-3.7-7.7-3.7-12 0-5.6 2.2-10.9 6.2-14.9S15.4 0 21.1 0 32 2.2 36 6.2s6.1 9.2 6.1 14.9zm-8.9 11.8h-3.6v1.3c0 .4-.3.7-.7.7-.4 0-.7-.3-.7-.7v-1.3h-2.6v1.3c0 .4-.3.7-.7.7s-.7-.3-.7-.7v-1.3h-2.6v1.3c0 .4-.3.7-.7.7s-.7-.3-.7-.7v-1.3h-2.6v1.3c0 .4-.3.7-.7.7-.4 0-.7-.3-.7-.7v-1.3h-2.6v1.3c0 .4-.3.7-.7.7-.4 0-.7-.3-.7-.7v-1.3H8.9c2.6 4 7.1 6.6 12.1 6.6 5.1 0 9.6-2.6 12.2-6.6zm6.3-11.8c0-10.2-8.3-18.4-18.4-18.4S2.6 10.9 2.6 21.1c0 3.9 1.2 7.5 3.3 10.5h6.5v-1.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v1.3h2.6v-1.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v1.3h2.6v-1.3c0-.4.3-.7.7-.7s.7.3.7.7v1.3h2.6v-1.3c0-.4.3-.7.7-.7s.7.3.7.7v1.3h2.6v-1.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v1.3h6.4c2.1-3 3.3-6.6 3.3-10.5z"}
        = yield
